body {
    background-color: #f7f3ee;
    color: rgb(73, 20, 7)
}
a {
    text-decoration: none;
    color: rgb(38, 101, 122);
}

ul {
    list-style-type: none;
}

.nav-item {
    padding-left:1em
}
#create-team-form-container, #create-event-form-container {
    padding-left:1em
}

.nav-item {
    font-size: larger;
}